.exam-card{
    background:white;
    border-radius:20px;
    box-shadow:0 3px 15px rgba(0,0,0,.08);
    padding:20px;
    margin-bottom:25px;
    border-left:6px solid #22c55e;
    transition:0.3s;
}

.exam-card:hover{
    transform:translateY(-3px);
    box-shadow:0 8px 25px rgba(0,0,0,.12);
}

.exam-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:18px;
}

.exam-header h2{
    margin:0;
    color:#334155;
    font-size:30px;
    font-weight:700;
}

.exam-header p{
    margin-top:5px;
    color:#94a3b8;
    font-size:15px;
}

.exam-row{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:14px 0;
    border-bottom:1px solid #e2e8f0;
}

.exam-row span:first-child{
    color:#64748b;
    font-size:17px;
    font-weight:500;
}

.exam-row span:last-child{
    color:#0f172a;
    font-size:18px;
    font-weight:700;
}

.result-pass{
    background:linear-gradient(135deg,#22c55e,#16a34a);
    color:white;
    padding:9px 20px;
    border-radius:30px;
    font-weight:700;
    box-shadow:0 4px 15px rgba(34,197,94,.35);
}

.result-fail{
    background:linear-gradient(135deg,#ef4444,#dc2626);
    color:white;
    padding:9px 20px;
    border-radius:30px;
    font-weight:700;
    box-shadow:0 4px 15px rgba(239,68,68,.35);
}