.gallery{
    max-width:1200px;
    margin:auto;
    padding:100px 20px;
}

.gallery h2{
    text-align:center;
    font-size:42px;
    margin-bottom:50px;
}

.gallery-grid{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:30px;
}

.gallery-card{
    width:100%;
    max-width:360px;
    overflow:hidden;
    border-radius:24px;
    box-shadow:0 10px 40px rgba(15,23,42,.08);
}

.gallery-card img{
    width:100%;
    height:260px;
    object-fit:cover;
    display:block;
    transition:.4s;
}

.gallery-card:hover img{
    transform:scale(1.08);
}